body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
#root {
  background-color: rgb(251, 245, 246);
  height: 100vh;
}

.album_detail {
  padding: 1em;
}

main {
  position: relative;
  float: left;
  width: 70%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.playlist {
  background-color: rgb(149, 176, 250);
  position: relative;
  float: right;
  width: 30%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

nav {
  vertical-align: middle;
  text-align: center;
  position: relative;
  background-color: rgb(149, 176, 250);
  float: left;
  height: 100%;
  width: 70%;
}

.player {
  position: relative;
  float: right;
  height: 100%;
  width: 30%;
  overflow: hidden;
  text-align: center;
}
.block1 {
  height: 80vh;
}
.block2 {
  height: 20vh;
}
